@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* Smooth scrolling for elegance */
  scroll-behavior: smooth; 
}

/* Custom Scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}